@import '~/src/scss/index.scss';

.panel {
    position: relative;
    display: flex;
    margin-top: -150px;
    width: 100%;

}

.imgContainer {
    width: 60%;
    padding-right: 12px;

    > img {
        border-radius: 15px;
    }
}

.actionsContainer {
    width: 50%;
    padding-left: 12px;
    height: 100%;

    > div {
        background-color: $background-quaternary__blur;
        backdrop-filter: blur(15px);
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        >h2 {
            margin-bottom: 10px;
        }
    }
}

.moreInfo {
    background-color: $background-quaternary__blur;
    backdrop-filter: blur(15px);
    display: flex;
    padding: 6px 15px;
    border-radius: 50px;
    margin-bottom: 40px;

    > span {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $border-primary;
        padding-right: 10px;
        margin-right: 10px;
        font-size: 12px;

        &:first-of-type {
            >img {
                margin-right: 4px;
                margin-bottom: -2px;
                filter: brightness(0) invert(1);
                height: 18px;
                margin-right: 10px;
            }
        }

        &:last-of-type {
            border-right: 0;
            padding-right: 0;
            margin-right: 0;

            >img {
                margin: 0 4px;
                width: 20px;

            }
        }
    }
}


.price {
    margin-bottom: 40px;
    display: flex;

    >div {
        display: flex;
        
        > span {
            display: flex;
            align-items: center;
            justify-content: center;
    
        }
    } 
    
    .originalPrice {
        font-size: 18px;
        text-decoration: line-through;

        > img {
            width: 16px;
        }
    }

    .discount {
        margin: 0 10px;
        color: $primary;
        font-weight: bold;
        font-size: 18px;
    }

    .buyPrice {
        font-size: 35px;
        font-weight: 500;
    }
}

.heart {
    margin: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
}