@import '/src/scss/index.scss';

.Button {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    background-color: $primary;
    border: none;
    cursor: pointer;
    transition-duration: .3s;

    &:hover {
        background-color: $primary-hover; 
    }
}

