@import '~/src/scss/index.scss';

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 10px;
    gap: 20px;

    > button {
        width: 100%;
    }
}

.input {
    background-color: $background-secundary;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid $border-primary;
    width: 100%;

    &:hover {
        transition-duration: .3s;
        border: 1px solid $primary;
    }
}