@import '/src/scss/index.scss';

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formGroup {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.formInput {
    width: 100%;
    background-color: $background-secundary;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $border-secundary;
    transition-duration: .3s;
}

.formInput:hover, .formInput:active {
    border: 1px solid $primary;
}
