@import '~/src/scss/index.scss';

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
        background-color: $background-secundary;
        border-radius: 5px;
        padding: 10px 20px;
        border: 1px solid $border-primary;
        width: 100%;
        margin-bottom: 10px;
    }
    
.input:hover {
        transition-duration: .3s;
        border: 1px solid $primary;
    }

.equal {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.containerBtn {
    width: 100%;
}